#calculator {
    background-color: #F2F6F5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto;
    margin: 0;
    width: 350px;
}

#calculator-display {
    border-bottom: 1px solid #E5E5E5;
    font-size: 2.5em;
    grid-column: 1 / span 4;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow-x: hidden;
    width: 100%;
}

#calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#calculator-buttons .num-buttons, #calculator-buttons .op-buttons,
#calculator-buttons #backspace, #calculator-buttons #clear,
#calculator-buttons #equals {
    background-color: #C8DAD3;
    border: 1px solid #E5E5E5;
    color: #63707E;
    font-size: 1em;
    font-weight: bold;
    height: 87px;
    min-width: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-buttons #clear, .num-buttons.span-2 {
    grid-column: 1 / span 2;
}

#calculator-buttons .op-buttons, #calculator-buttons #clear,
#calculator-buttons #backspace, #calculator-buttons #equals {
    background-color: #93B5B3;
}